Repository Grapefy/CRM_Application, pull requests merged in 2021-08, with the labels that each got.

#67 Create Main Screen of Plans business
  CRM-front/src/app/models/plan-type.model.ts
  CRM-front/src/app/models/plans.model.ts
  CRM-front/src/app/pages/plans-business/plans-business.component.html
  CRM-front/src/app/pages/plans-business/plans-business.component.ts
Labels: Front

#69 Edit Plan Business
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/pages/plans-business/plans-business.component.html
  CRM-front/src/app/pages/plans-business/plans-business.component.ts
  CRM-front/src/app/pages/plans-business/plans-edit-business/plans-edit-business.component.html
  CRM-front/src/app/pages/plans-business/plans-edit-business/plans-edit-business.component.scss
  CRM-front/src/app/pages/plans-business/plans-edit-business/plans-edit-business.component.ts
Labels: Front

#70 Authentication
  CRM-front/src/app/_components/_shared/header/header.component.ts
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/pages/login/login.component.html
  CRM-front/src/app/pages/login/login.component.ts
  CRM-front/src/app/pages/user/user.component.ts
  CRM-front/src/app/services/shared/auth.guard.ts
  CRM-front/src/app/services/shared/login.service.ts
  CRM_back/src/Controller/AdministradorsController.php
  CRM_back/src/Controller/FuncionariosController.php
  CRM_back/src/Controller/UsuariosController.php
  CRM_back/src/Model/Table/UsuariosTable.php
Labels: Back

#71 Register Screen Plans Business
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/pages/plans-business/create-plans-business/create-plans-business.component.html
  CRM-front/src/app/pages/plans-business/create-plans-business/create-plans-business.component.scss
  CRM-front/src/app/pages/plans-business/create-plans-business/create-plans-business.component.ts
  CRM-front/src/app/pages/plans-business/plans-business.component.html
Labels: Front

#74 Modelo Autenticacao
  CRM-front/src/app/pages/administrador/administrador.component.ts
  CRM-front/src/app/pages/login/login.component.ts
  CRM-front/src/app/services/shared/login.service.ts
  CRM_back/src/Controller/UsuariosController.php
  CRM_back/src/Model/Table/UsuariosTable.php
Labels: Back, Improve

#73 adjust database and user files
  CRM-front/src/app/pages/administrador/administrador.component.ts
  CRM-front/src/app/pages/login/login.component.ts
  CRM-front/src/app/pages/user/user.component.html
  CRM-front/src/app/pages/user/user.component.ts
  CRM-front/src/app/services/shared/login.service.ts
  CRM_back/scripts/employee.sql
  CRM_back/scripts/office.sql
  CRM_back/scripts/sector.sql
  CRM_back/src/Controller/UsuariosController.php
  CRM_back/src/Model/Table/UsuariosTable.php
Labels: Improve

#75 [WIP] Creating Main Screen + Modal
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/models/contract-service.model.ts
  CRM-front/src/app/pages/customer/contract-customer/contract-customer.component.html
  CRM-front/src/app/pages/customer/contract-customer/contract-customer.component.scss
  CRM-front/src/app/pages/customer/contract-customer/contract-customer.component.ts
  CRM-front/src/app/pages/customer/contract-customer/create-service-customer/create-service-customer.component.html
  CRM-front/src/app/pages/customer/contract-customer/create-service-customer/create-service-customer.component.scss
  CRM-front/src/app/pages/customer/contract-customer/create-service-customer/create-service-customer.component.ts
  CRM-front/src/app/pages/customer/contract-customer/edit-service-customer/edit-service-customer.component.html
  CRM-front/src/app/pages/customer/contract-customer/edit-service-customer/edit-service-customer.component.scss
  CRM-front/src/app/pages/customer/contract-customer/edit-service-customer/edit-service-customer.component.ts
  CRM-front/src/app/pages/customer/customer.component.html
  CRM-front/src/app/pages/customer/customer.component.ts
  CRM-front/src/app/pages/customer/edit-customer/edit-customer.component.ts
  CRM_back/composer.lock
Labels: Front, Improve

#77 Fixing My Branch
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/models/contract-service.model.ts
  CRM-front/src/app/pages/customer/contract-customer/contract-customer.component.html
  CRM-front/src/app/pages/customer/contract-customer/contract-customer.component.scss
  CRM-front/src/app/pages/customer/contract-customer/contract-customer.component.ts
  CRM-front/src/app/pages/customer/contract-customer/create-service-customer/create-service-customer.component.html
  CRM-front/src/app/pages/customer/contract-customer/create-service-customer/create-service-customer.component.scss
  CRM-front/src/app/pages/customer/contract-customer/create-service-customer/create-service-customer.component.ts
  CRM-front/src/app/pages/customer/contract-customer/edit-service-customer/edit-service-customer.component.html
  CRM-front/src/app/pages/customer/contract-customer/edit-service-customer/edit-service-customer.component.scss
  CRM-front/src/app/pages/customer/contract-customer/edit-service-customer/edit-service-customer.component.ts
  CRM-front/src/app/pages/customer/customer.component.html
  CRM-front/src/app/pages/customer/customer.component.ts
  CRM-front/src/app/pages/customer/edit-customer/edit-customer.component.ts
  CRM_back/composer.lock
Labels: Bug

#78 Lf ourplans
  CRM-front/src/app/pages/plans-business/create-plans-business/create-plans-business.component.html
  CRM-front/src/app/pages/plans-business/create-plans-business/create-plans-business.component.ts
  CRM-front/src/app/pages/plans-business/plans-business.component.ts
  CRM-front/src/app/pages/plans-business/plans-edit-business/plans-edit-business.component.html
  CRM-front/src/app/pages/plans-business/plans-edit-business/plans-edit-business.component.ts
  CRM-front/src/app/services/plans.service.ts
  CRM-front/src/app/services/planstype.service.ts
  CRM_back/scripts/planos.sql
  CRM_back/scripts/tipoplanos.sql
  CRM_back/src/Controller/PlanosController.php
  CRM_back/src/Controller/TipoplanosController.php
  CRM_back/src/Model/Entity/Plano.php
  CRM_back/src/Model/Entity/Tipoplano.php
  CRM_back/src/Model/Table/PlanosTable.php
  CRM_back/src/Model/Table/TipoplanosTable.php
  CRM_back/tests/Fixture/PlanosFixture.php
  CRM_back/tests/Fixture/TipoplanosFixture.php
  CRM_back/tests/TestCase/Controller/PlanosControllerTest.php
  CRM_back/tests/TestCase/Controller/TipoplanosControllerTest.php
  CRM_back/tests/TestCase/Model/Table/PlanosTableTest.php
  CRM_back/tests/TestCase/Model/Table/TipoplanosTableTest.php
  README.md
Labels: Back

#79 [WIP] Refactory NbLayout
  CRM-front/src/app/_components/_shared/address/address.component.html
  CRM-front/src/app/app.component.html
  CRM-front/src/app/app.component.ts
  CRM-front/src/app/pages/administrador/administrador.component.html
  CRM-front/src/app/pages/administrador/administrador.component.ts
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.html
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.ts
  CRM-front/src/app/pages/administrador/edit-administrador/edit-administrador.component.html
  CRM-front/src/app/pages/administrador/edit-administrador/edit-administrador.component.ts
  CRM-front/src/app/pages/customer/contract-customer/contract-customer.component.html
  CRM-front/src/app/pages/customer/contract-customer/contract-customer.component.ts
  CRM-front/src/app/pages/customer/contract-customer/create-service-customer/create-service-customer.component.html
  CRM-front/src/app/pages/customer/contract-customer/edit-service-customer/edit-service-customer.component.html
  CRM-front/src/app/pages/customer/create-customer/create-customer.component.html
  CRM-front/src/app/pages/customer/customer.component.html
  CRM-front/src/app/pages/customer/customer.component.ts
  CRM-front/src/app/pages/customer/edit-customer/edit-customer.component.html
  CRM-front/src/app/pages/customer/edit-customer/edit-customer.component.ts
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.html
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.ts
  CRM-front/src/app/pages/employee/edit-employee/edit-employee.component.html
  CRM-front/src/app/pages/employee/edit-employee/edit-employee.component.ts
  CRM-front/src/app/pages/employee/employee.component.html
  CRM-front/src/app/pages/employee/employee.component.ts
  CRM-front/src/app/pages/login/login.component.html
  CRM-front/src/app/pages/office/edit-office/edit-office.component.html
  CRM-front/src/app/pages/office/edit-office/edit-office.component.ts
  CRM-front/src/app/pages/office/office.component.html
  CRM-front/src/app/pages/office/office.component.ts
  CRM-front/src/app/pages/plans-business/create-plans-business/create-plans-business.component.html
  CRM-front/src/app/pages/plans-business/create-plans-business/create-plans-business.component.ts
  CRM-front/src/app/pages/plans-business/plans-business.component.html
  CRM-front/src/app/pages/plans-business/plans-business.component.ts
  CRM-front/src/app/pages/plans-business/plans-edit-business/plans-edit-business.component.html
  CRM-front/src/app/pages/plans-business/plans-edit-business/plans-edit-business.component.ts
  CRM-front/src/app/pages/sector/edit-sector/edit-sector.component.html
  CRM-front/src/app/pages/sector/edit-sector/edit-sector.component.ts
  CRM-front/src/app/pages/sector/sector.component.html
  CRM-front/src/app/pages/sector/sector.component.scss
  CRM-front/src/app/pages/sector/sector.component.ts
  CRM-front/src/app/pages/servico/create-servico/create-servico.component.html
  CRM-front/src/app/pages/servico/create-servico/create-servico.component.ts
  CRM-front/src/app/pages/servico/edit-servico/edit-servico.component.html
  CRM-front/src/app/pages/servico/edit-servico/edit-servico.component.ts
  CRM-front/src/app/pages/servico/servico.component.html
  CRM-front/src/app/pages/servico/servico.component.ts
  CRM-front/src/app/pages/user/user.component.html
  CRM-front/src/app/pages/user/user.component.ts
  CRM-front/src/app/services/plans.service.ts
  CRM-front/src/app/services/shared/auth.guard.ts
  CRM-front/src/app/services/user.service.ts
Labels: Front, Improve
