Repository Grapefy/CRM_Application, pull requests merged in 2021-07, with the labels that each got.

#51 Create Alert Service and create a new methods
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.ts
  CRM-front/src/app/pages/login/login.component.ts
  CRM-front/src/app/services/administrator.service.ts
  CRM-front/src/app/services/shared/alerts.service.ts
Labels: Front

#52 Create address component and update in the creates components
  CRM-front/src/app/_components/_shared/address/address.component.html
  CRM-front/src/app/_components/_shared/address/address.component.scss
  CRM-front/src/app/_components/_shared/address/address.component.spec.ts
  CRM-front/src/app/_components/_shared/address/address.component.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.html
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.ts
  CRM-front/src/app/pages/customer/create-customer/create-customer.component.html
  CRM-front/src/app/pages/customer/create-customer/create-customer.component.ts
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.html
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.ts
Labels: Front, Improve

#53 Show Alerts When Adding
  CRM-front/src/app/_components/_shared/address/address.component.html
  CRM-front/src/app/_components/_shared/address/address.component.ts
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.html
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.ts
  CRM-front/src/app/pages/customer/create-customer/create-customer.component.html
  CRM-front/src/app/pages/customer/create-customer/create-customer.component.ts
  CRM-front/src/app/services/administrator.service.ts
  CRM-front/src/app/services/customer.service.ts
  CRM-front/src/app/services/shared/address.service.ts
Labels: Front, Improve

#56 Gf user
  CRM-front/src/app/_components/_shared/menu/menu.component.ts
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/models/user.model.ts
  CRM-front/src/app/pages/office/office.component.ts
  CRM-front/src/app/pages/user/user.component.html
  CRM-front/src/app/pages/user/user.component.scss
  CRM-front/src/app/pages/user/user.component.ts
Labels: Front

#57 Creating Modal Edit User
  CRM-front/src/app/pages/user/user.component.html
  CRM-front/src/app/pages/user/user.component.ts
Labels: Front

#58 New Component: Service
  CRM-front/src/app/_components/_shared/menu/menu.component.ts
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/models/service.model.ts
  CRM-front/src/app/pages/servico/servico.component.html
  CRM-front/src/app/pages/servico/servico.component.scss
  CRM-front/src/app/pages/servico/servico.component.ts
Labels: Front

#59 Create screen of register service
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/pages/servico/create-servico/create-servico.component.html
  CRM-front/src/app/pages/servico/create-servico/create-servico.component.scss
  CRM-front/src/app/pages/servico/create-servico/create-servico.component.ts
  CRM-front/src/app/pages/servico/servico.component.html
  CRM-front/src/app/pages/servico/servico.component.ts
Labels: Front

#60 Creating Edit of Service
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/pages/servico/edit-servico/edit-servico.component.html
  CRM-front/src/app/pages/servico/edit-servico/edit-servico.component.scss
  CRM-front/src/app/pages/servico/edit-servico/edit-servico.component.ts
  CRM-front/src/app/pages/servico/servico.component.html
Labels: Front

#61 Improvements
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.ts
  CRM-front/src/app/pages/administrador/edit-administrador/edit-administrador.component.ts
  CRM-front/src/app/pages/customer/edit-customer/edit-customer.component.ts
  CRM-front/src/app/pages/employee/edit-employee/edit-employee.component.ts
  CRM-front/src/app/services/administrator.service.ts
  CRM_back/src/Controller/AdministradorsController.php
  CRM_back/src/Controller/CargosController.php
  CRM_back/src/Controller/ClientesController.php
  CRM_back/src/Controller/FuncionariosController.php
  CRM_back/src/Controller/SetorsController.php
  CRM_back/src/Model/Table/EnderecosTable.php
Labels: Improve

#62 Develop
  CRM-front/src/app/_components/_shared/address/address.component.html
  CRM-front/src/app/_components/_shared/address/address.component.scss
  CRM-front/src/app/_components/_shared/address/address.component.spec.ts
  CRM-front/src/app/_components/_shared/address/address.component.ts
  CRM-front/src/app/_components/_shared/header/header.component.html
  CRM-front/src/app/_components/_shared/menu/menu.component.ts
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/models/service.model.ts
  CRM-front/src/app/models/user.model.ts
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.html
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.ts
  CRM-front/src/app/pages/administrador/edit-administrador/edit-administrador.component.ts
  CRM-front/src/app/pages/customer/create-customer/create-customer.component.html
  CRM-front/src/app/pages/customer/create-customer/create-customer.component.ts
  CRM-front/src/app/pages/customer/edit-customer/edit-customer.component.ts
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.html
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.ts
  CRM-front/src/app/pages/employee/edit-employee/edit-employee.component.html
  CRM-front/src/app/pages/employee/edit-employee/edit-employee.component.ts
  CRM-front/src/app/pages/employee/employee.component.html
  CRM-front/src/app/pages/employee/employee.component.ts
  CRM-front/src/app/pages/login/login.component.ts
  CRM-front/src/app/pages/office/office.component.ts
  CRM-front/src/app/pages/servico/create-servico/create-servico.component.html
  CRM-front/src/app/pages/servico/create-servico/create-servico.component.scss
  CRM-front/src/app/pages/servico/create-servico/create-servico.component.ts
  CRM-front/src/app/pages/servico/edit-servico/edit-servico.component.html
  CRM-front/src/app/pages/servico/edit-servico/edit-servico.component.scss
  CRM-front/src/app/pages/servico/edit-servico/edit-servico.component.ts
  CRM-front/src/app/pages/servico/servico.component.html
  CRM-front/src/app/pages/servico/servico.component.scss
  CRM-front/src/app/pages/servico/servico.component.ts
  CRM-front/src/app/pages/user/user.component.html
  CRM-front/src/app/pages/user/user.component.scss
  CRM-front/src/app/pages/user/user.component.ts
  CRM-front/src/app/services/administrator.service.ts
  CRM-front/src/app/services/customer.service.ts
  CRM-front/src/app/services/employee.service.ts
  CRM-front/src/app/services/shared/address.service.ts
  CRM-front/src/app/services/shared/alerts.service.ts
  CRM_back/scripts/address.sql
  CRM_back/scripts/employee.sql
  CRM_back/src/Controller/AdministradorsController.php
  CRM_back/src/Controller/CargosController.php
  CRM_back/src/Controller/ClientesController.php
  CRM_back/src/Controller/FuncionariosController.php
  CRM_back/src/Controller/SetorsController.php
  CRM_back/src/Model/Entity/Endereco.php
  CRM_back/src/Model/Entity/Funcionario.php
  CRM_back/src/Model/Table/EnderecosTable.php
  CRM_back/src/Model/Table/FuncionariosTable.php
  CRM_back/templates/Funcionarios/add.php
  CRM_back/templates/Funcionarios/edit.php
  CRM_back/templates/Funcionarios/index.php
  CRM_back/templates/Funcionarios/view.php
  CRM_back/tests/Fixture/FuncionariosFixture.php
  CRM_back/tests/TestCase/Controller/FuncionariosControllerTest.php
  CRM_back/tests/TestCase/Model/Table/FuncionariosTableTest.php
Labels: Back, Front

#63 Create a new component Modal + Update all modal in the templates
  CRM-front/src/app/_components/_shared/modals/modal-delete/modal-delete.component.html
  CRM-front/src/app/_components/_shared/modals/modal-delete/modal-delete.component.scss
  CRM-front/src/app/_components/_shared/modals/modal-delete/modal-delete.component.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/pages/administrador/administrador.component.html
  CRM-front/src/app/pages/customer/customer.component.html
  CRM-front/src/app/pages/employee/employee.component.html
  CRM-front/src/app/pages/office/office.component.html
  CRM-front/src/app/pages/sector/sector.component.html
  CRM-front/src/app/pages/servico/servico.component.html
  CRM-front/src/app/pages/servico/servico.component.ts
  CRM-front/src/app/pages/user/user.component.html
  CRM-front/src/app/pages/user/user.component.ts
Labels: Front, Improve

#64 CRUD User
  CRM-front/src/app/pages/user/user.component.html
  CRM-front/src/app/pages/user/user.component.ts
  CRM-front/src/app/services/user.service.ts
  CRM_back/scripts/usuarios.sql
  CRM_back/src/Controller/UsuariosController.php
  CRM_back/src/Model/Entity/Usuario.php
  CRM_back/src/Model/Table/UsuariosTable.php
  CRM_back/tests/Fixture/UsuariosFixture.php
  CRM_back/tests/TestCase/Controller/UsuariosControllerTest.php
  CRM_back/tests/TestCase/Model/Table/UsuariosTableTest.php
Labels: Back

#66 New Component - Plans Business
  CRM-front/src/app/_components/_shared/menu/menu.component.ts
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/pages/plans-business/plans-business.component.html
  CRM-front/src/app/pages/plans-business/plans-business.component.scss
  CRM-front/src/app/pages/plans-business/plans-business.component.ts
Labels: Front
