Repository Grapefy/CRM_Application, pull requests merged in 2021-06, with the labels that each got.

#39 Create a new compenent employee
  CRM-front/src/app/_components/_shared/menu/menu.component.ts
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/models/employee.model.ts
  CRM-front/src/app/pages/employee/employee.component.html
  CRM-front/src/app/pages/employee/employee.component.scss
  CRM-front/src/app/pages/employee/employee.component.ts
Labels: Front

#42 Register, View and Edit of Employee
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.html
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.scss
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.ts
  CRM-front/src/app/pages/employee/edit-employee/edit-employee.component.html
  CRM-front/src/app/pages/employee/edit-employee/edit-employee.component.scss
  CRM-front/src/app/pages/employee/edit-employee/edit-employee.component.ts
  CRM-front/src/app/pages/employee/employee.component.html
Labels: Front

#44 Button Disabled if form is invalid
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.html
  CRM-front/src/app/pages/administrador/create-administrador/create-administrador.component.ts
  CRM-front/src/app/pages/customer/create-customer/create-customer.component.html
  CRM-front/src/app/pages/customer/create-customer/create-customer.component.ts
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.html
  CRM-front/src/app/pages/employee/create-employee/create-employee.component.ts
  CRM-front/src/app/pages/office/office.component.html
  CRM-front/src/app/pages/sector/sector.component.html
Labels: Front, Improve

#45 Creating new component for Login
  CRM-front/src/app/app-routing.module.ts
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/pages/login/login.component.html
  CRM-front/src/app/pages/login/login.component.scss
  CRM-front/src/app/pages/login/login.component.ts
Labels: Front

#46 Modal Forget Password
  CRM-front/src/app/app.module.ts
  CRM-front/src/app/pages/login/login.component.html
  CRM-front/src/app/pages/login/login.component.ts
Labels: Front

#48 OFFICE BACKEND
  CRM-front/src/app/pages/office/edit-office/edit-office.component.html
  CRM-front/src/app/pages/office/edit-office/edit-office.component.ts
  CRM-front/src/app/pages/office/office.component.html
  CRM-front/src/app/pages/office/office.component.ts
  CRM-front/src/app/services/office.service.ts
  CRM_back/scripts/office.sql
  CRM_back/src/Controller/CargosController.php
  CRM_back/src/Model/Entity/Cargo.php
  CRM_back/src/Model/Table/CargosTable.php
  CRM_back/tests/Fixture/CargosFixture.php
  CRM_back/tests/TestCase/Controller/CargosControllerTest.php
  CRM_back/tests/TestCase/Model/Table/CargosTableTest.php
Labels: Back

#49 Fixing bug when deleting smth w/ fk
  CRM_back/src/Controller/SetorsController.php
  CRM_back/src/Model/Table/SetorsTable.php
Labels: Bug
